html {
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px !important;
}

body {
	/* background: #003; */
}


.wrapper {
/*	background: #fff;
	border: 1px solid #057;
	margin: 1px auto;
	width: 1010px;*/
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
}

.separator {
	clear: both;
	background-color: #191818;
	height: 1px;
}

.icon {
	margin: 2px;
	width: 16px;
	height: 16px;
}

.-iq-error {
	background: #fcc;
	border: 1px solid #f00;
	border-radius: 2px;
	font-size: 11px;
	margin: 2px;
	padding: 5px;
	width: inherit;
}

.-iq-warning {
	background: #ff9;
	border: 1px solid #990;
	border-radius: 2px;
	font-size: 11px;
	margin: 2px;
	padding: 5px;
	width: inherit;
}

.-iq-info {
	background: #D5F2FF;
	border: 1px solid #057;
	border-radius: 2px;
	font-size: 11px;
	margin: 2px;
	padding: 5px;
	width: inherit;
}

.-iq-success {
	background: #cfc;
	border: 1px solid #090;
	border-radius: 2px;
	font-size: 11px;
	margin: 1px;
	padding: 5px;
	width: inherit;
}

/*BODY STARTS*/
.bodycontent {
	/* border-top: 1px solid #570; */
	/* height: 550px; */
	position: absolute;
	top: 82px;
	right: 0px;
	bottom: 16px;
	left: 0px;
}
/*BODY ENDS*/

.toolboxarea {
	border-right: 1px solid #057;
	float: left;
/*	background: #f00;*/
	height: 100%;
/*	overflow-x: hidden;
	overflow-y: scroll;
	vertical-align: top;*/
	width: 275px;
	position: relative;
}

/*WORKAREA STARTS*/
.workarea {
/*	background: #00f;*/
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	vertical-align: top;
	text-align: justify;
/* 	width: 725px; */
}
/*WORKAREA ENDS*/