table.table-sorter {
	/* font-family:verdana,arial,sans-serif;
	font-size: 11px;
	background-color: #ddd; */
/*
	margin:5px 5px 5px 5px;
	width: 100%;
	text-align: left;*/
}

table.table-sorter thead tr th, table.table-sorter tfoot tr th {
	/*background-color: #e6EEEE;*/
	/*background-color: #006699;*/
	/* border: 1px solid #FFF; */
	/*color: #666666;*/
	/* font-size: 11px; */
	/*font-weight: 900;*/
	padding: 4px 15px 4px 4px;
}
table.table-sorter thead tr .table-header {
	background-image: url('../../img/no-sort.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.table-sorter tbody td {
	/*color: #3D3D3D;*/
	padding: 4px;
	/* background-color: #FFF; */
	vertical-align: top;
}

table.table-sorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.table-sorter thead tr .table-headerSortUp {
	background-image: url('../../img/asc.gif');
}
table.table-sorter thead tr .table-headerSortDown {
	background-image: url('../../img/desc.gif');
}
table.table-sorter thead tr .table-headerSortDown, table.table-sorter thead tr .table-headerSortUp {
background-color: #88bbdd;
/*background-color: #669900;*/
}

#please-wait-overlay {
	top: 45px;
	left: 50%;
	position: relative;
	margin-left: -100px;
	width: 200px;
	text-align: center;
	display: none;
	margin-top: -10px;
	background: #000;
	color: #FFF;
}
