.navbar-brand {
	line-height: 30px;
}

ul.nav > li > a {
	line-height: 30px;
}

footer #status-bar {
	justify-content: flex-start;
}

footer #copyright-strip {
	justify-content: flex-end;
}