<style media="screen" type="text/css">
label {
	display: block;
	padding: 3px 0px 0px 3px;
}

input, textarea, select, button {
	border-radius: 3px;
	color: #333333;
	font-family: Verdana;
	height: 22px; 
	margin: 2px;
}

input[type="text"], input[type="password"],
input[type="email"], input[type="date"],
input[type="file"], textarea, select {
	width: 168px;
}

input[type="text"], input[type="password"],
input[type="email"], input[type="date"],
textarea, select {
	border: 1px solid #999 !important;
}

textarea {
	height: 68px;
	resize: vertical;
}

select[multiple] {
	height: 108px;
}

.radioChkGroup {
	border: 1px solid #999 !important;
	float: left;
	height: 108px;
	margin: 2px 2px 7px 2px;
	overflow: hidden;
	overflow-y: scroll;
	width: 158px;
}

input[type="checkbox"], input[type="radio"] {
	margin: 2px 4px 0px 4px;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	height: 20px;
	padding: 4px 0px 0px 0px;
	width: 160px;
}

/*readonly and disabled inputs*/
input[readonly], input[disabled],
textarea[readonly], select[disabled],
button[disabled] {
	/* color: #888 !important; */
}

input[readonly], select[disabled],
textarea[readonly] {
	background-color: #eee !important;
	/* border: 1px solid #999 !important; */
}

.disabled {
	background-color: #eee !important;
	border: 1px solid #999 !important;
}

/*required inputs*/
input[required],textarea[required], select[required] {
	background-color: #fee !important;
}

input[type="text"][required], input[type="password"][required],
input[type="email"][required], input[type="date"][required],
textarea[required], select[required] {
	border: 1px solid #f99 !important;
}

input[type="file"][required] {
	border-right: 1px solid #f99 !important;
	border-bottom: 1px solid #f99 !important;
}


input[type="submit"], input[type="button"], input[type="reset"], button {
	background-color: #cef;
	border: 1px solid #999;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover {
	border: 1px solid #057;
}

input[type="submit"][disabled], input[type="button"][disabled], input[type="reset"][disabled], button[disabled] {
	background-color: #eee;
	border: 1px solid #999;
}


fieldset {
	border: 1px solid #057;
	margin-top: 5px;
	padding: 5px 0;
}

fieldset.first {
	margin-top: 0px;
}

fieldset > legend {
	margin-left: 4px;
}

.input-width-double {
	width: 342px !important;
}

table {width: 100%;/* margin: 2px auto; */}
table, th, td {border: 1px solid #057;}
th, td {font-weight: normal; padding: 3px 4px;}
th {vertical-align: middle;}
td {vertical-align: top;}
table > thead, table > tfoot {background-color: #8df;}
table > thead > tr {text-align: center;}
table > tbody > tr:nth-child(odd) {background-color: #fff;}
table > tbody > tr:nth-child(even) {background-color: #cef;}


.required {
	background-color: #fee !important;
	border: 1px solid #f99 !important;
}




.mini {
	width: 78px;
}




div.form-container {border: 1px solid #057; margin: 1px; /* height: 145px; */}

div.form-container > form > div.form-header {background: #8df; /* box-shadow: 0px 0px 15px #057 inset; */ border-bottom: 1px solid #057; padding: 5px;}
div.form-container > form > div.form-header > img {float: left; width: 16px; height: 16px;}
div.form-container > form > div.form-header > h3 {font-weight: normal; margin: 0 20px; line-height: 16px;}
div.form-container > form > div.form-header > a > img {padding: 4px; float: right; margin: -20px -1px; width: 16px; height: 16px;}
div.form-container > form > div.form-header > a:hover > img {border: 1px solid #057; border-radius: 3px; box-shadow: 0px 0px 5px #057 inset; padding: 3px;}

div.form-container > form > div.form-content {/* height: 110px; */ /* overflow-x: hidden; overflow-y: hidden; */ padding: 4px; line-height: 15px;}

div.form-container > form > div.form-actions {border-top: 1px solid #057; padding: 5px; height: 26px;}

div.form-container > div.form-header {background: #8df; /* box-shadow: 0px 0px 15px #057 inset; */ border-bottom: 1px solid #057; padding: 5px;}
div.form-container > div.form-header > img {float: left; width: 16px; height: 16px;}
div.form-container > div.form-header > h3 {font-weight: normal; margin: 0 20px; line-height: 16px;}
div.form-container > div.form-header > a > img {padding: 4px; float: right; margin: -20px -1px; width: 16px; height: 16px;}
div.form-container > div.form-header > a:hover > img {border: 1px solid #057; border-radius: 3px; box-shadow: 0px 0px 5px #057 inset; padding: 3px;}

div.form-container > div.form-content {/* height: 110px; */ /* overflow-x: hidden; overflow-y: hidden; */ padding: 4px; line-height: 15px;}

div.form-container > div.form-actions {border-top: 1px solid #057; padding: 5px; height: 26px;}

div.fields-row {
/*	border: 1px solid blue;*/
 	float: left;
 	width: 100%;
}

div.field-col {
/*	border: 1px solid red;*/
	float: left;
	margin: 1px;
	position: relative;
/*	width: 172px;*/
}

div.multi-row-col {
	float: left;
	margin: 1px;
	width: 172px;
}

div.multi-row-col > div.field-col {
	float: left;
	margin: 0px;
	position: relative;
/*	width: 172px;*/
}

div.field-info-container {
	position: absolute;
	right: 2px;
	bottom: 25px;
}

div.field-info-container > div.field-info {
/*	border: 1px solid green;*/
	position: relative;
	background-image: url("../../img/tooltip-info-16-16.png");
	height: 16px;
	width: 16px;
}

div.field-info-container > div.field-info > div.info-content {
	background-color: #def;
	border: 1px solid #057;
	display: none;
	font-size: 11px;
	padding: 3px;
	position: absolute;
	top: 16px;
	right: -2px;
	text-align: justify;
	width: 160px;
	z-index: 1;
}

div.field-info-container > div.field-info:hover > div.info-content {
	display: block;
}


div.dialog-overlay {
	position: fixed;
	top: 0; right: 0;
	bottom: 0; left: 0;
	background: #000000;
	opacity: 0.7;
	z-index: 101;
	display: none;
}

div.dialog-window {
	display: none;
	position: fixed;
	width: 800px;
	height: 450px;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -225px;
	background-color: #ffffff;
	border: 2px solid #057;
	z-index: 102;
}
div.dialog-window > div.dialog-header {background: #8df; /* box-shadow: 0px 0px 15px #057 inset; */ border-bottom: 1px solid #057; padding: 5px;}
div.dialog-window > div.dialog-header > img {float: left; width: 16px; height: 16px;}
div.dialog-window > div.dialog-header > h3 {font-weight: normal; margin: 0 20px; line-height: 16px;}
div.dialog-window > div.dialog-header > a > img {padding: 4px; float: right; margin: -20px -1px; width: 16px; height: 16px;}
/*div.dialog-window > div.dialog-header > a:hover > img {border: 1px solid #057; border-radius: 3px; box-shadow: 0px 0px 5px #f57 inset; padding: 3px;}
*/
div.dialog-window > div.dialog-content {
	height: 379px;
	padding: 4px;
	line-height: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
}

div.dialog-window > div.dialog-actions {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #057;
	padding: 5px;
	width: 790px;
}
</style>